# Global Settings
DEBUG=1
SECRET_KEY=django-insecure-key
TIME_ZONE=Europe/Warsaw
DATABASE_URL=postgres://severynsor_user:severynsor_password@db:5432/severynsor_db


# Localhost configuration
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
SITE_DOMAIN=localhost:8000

# Email
EMAIL_HOST=mailcatcher
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=alerts@severynsor.local
USE_X_FORWARDED_HOST=0
SECURE_PROXY_SSL_HEADER=0
SESSION_COOKIE_SECURE=0
CSRF_COOKIE_SECURE=0

# Production (example.com) configuration
# To use this, prefix with https:// and list the domains
# ALLOWED_HOSTS=example.com,www.example.com
# CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com
# SITE_DOMAIN=example.com
# USE_X_FORWARDED_HOST=1
# SECURE_PROXY_SSL_HEADER=1
# SESSION_COOKIE_SECURE=1
# CSRF_COOKIE_SECURE=1
